[submodule "3rdparty/clink-gizmos"]
	path = 3rdparty/clink-gizmos
	url = https://github.com/chrisant996/clink-gizmos.git
[submodule "3rdparty/clink-zoxide"]
	path = 3rdparty/clink-zoxide
	url = https://github.com/shunsambongi/clink-zoxide.git
