@REM Custom aliases 

doskey more      = bat -p $*
doskey np        = "C:\Program Files\Notepad++\notepad++.exe" $*
doskey qtc       = C:\Qt\Tools\QtCreator\bin\qtcreator.exe -client $*
doskey l         = git log --graph --pretty=format:"%%Cred%%h%%Creset -%%C(yellow)%%d%%Creset %%s %%Cgreen(%%cr) %%C(bold blue)<%%an>%%Creset" --abbrev-commit --date=relative
doskey s         = git status $*
doskey d         = git diff $*
doskey xhost     = sudo code C:\Windows\System32\Drivers\etc\hosts
doskey mariadb   = mysql
